@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--font-futura), Arial, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-anton), Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  padding-bottom: 40px;

  @media (max-width: $smBreakpoint) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  padding-bottom: 16px;

  @media (max-width: $smBreakpoint) {
    font-size: 1.5rem;
  }
}

p {
  padding-bottom: 16px;
  color: #333;
}

a {
  color: #1d8cf2;
}

section {
  padding-bottom: 48px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 12px 0;
}

label {
  font-size: 12px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  min-height: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeInAnimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}
