@import "variables";

.layout {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 80px auto 80px;
  column-gap: 24px;
  grid-template-areas: "header header" "aside main" "footer footer";
  width: 100%;
  max-width: 1280px;
  height: 100vh;

  @media (max-width: $smBreakpoint) {
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 0;
    grid-template-areas: "aside" "main" "footer";
  }
}

.header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;

  @media (max-width: $smBreakpoint) {
    display: none;
  }
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > * + * {
    margin-top: 40px;
  }

  @media (max-width: $smBreakpoint) {
    align-items: center;
  }
}

.main {
  grid-area: main;
  background: linear-gradient(125deg, #ebedee 0%, #fff 100%);
  padding: 40px 24px 40px 40px;
  width: 100%;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  align-items: center;
}

.navigationList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigationList > * + * {
  margin-top: 8px;
}

.navigationListItem {
  text-transform: uppercase;
}

.bandName {
  @media (max-width: $smBreakpoint) {
    padding: 24px 16px;
    width: 100%;
    text-align: center;
  }
}

.homeLink {
  text-decoration: none;
  color: #000;
}
