.layout {
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 80px auto 80px;
  column-gap: 24px;
  grid-template-areas: "header header" "aside main" "footer footer";
  width: 100%;
  max-width: 1280px;
  height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
}

.aside {
  grid-area: aside;
  display: flex;
  justify-content: flex-end;
}

.main {
  grid-area: main;
  background: linear-gradient(125deg, #fdfbfb 0%, #ebedee 100%);
  padding: 40px 24px 40px 40px;
  width: 100%;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  align-items: center;
}
