.layout {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 80px auto auto 80px;
  column-gap: 24px;
  grid-template-areas:
    "topSection topSection"
    "header main"
    "aside main"
    "footer footer";
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @media (max-width: $sm-breakpoint) {
    grid-template-columns: auto;
    grid-template-rows: 80px auto 40px;
    column-gap: 0;
    grid-template-areas: "header" "main" "footer";
  }
}

.topSection {
  grid-area: topSection;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;

  @media (max-width: $sm-breakpoint) {
    display: none;
  }
}

.header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $sm-breakpoint) {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > * + * {
    margin-top: 40px;
  }

  @media (max-width: $sm-breakpoint) {
    display: none;
  }
}

.main {
  grid-area: main;
  background: linear-gradient(125deg, #ebedee 0%, #fff 100%);
  padding: 40px 24px 40px 40px;
  width: 100%;

  @media (max-width: $sm-breakpoint) {
    padding: $spacing-s;
  }
}

.footer {
  grid-area: footer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  background: #fff;
  align-items: center;
  width: 100%;

  @media (max-width: $sm-breakpoint) {
    position: fixed;
    bottom: 0;
    padding: 0;
  }
}

.bandName {
  @media (max-width: $sm-breakpoint) {
    padding: 24px 16px;
    width: 100%;
    text-align: center;
  }
}

.homeLink {
  text-decoration: none;
  color: #000;
}

.footerCopyright {
  @media (max-width: $sm-breakpoint) {
    display: none;
  }
}

.footerNavigation {
  width: 100%;

  @media (min-width: $sm-breakpoint) {
    display: none;
  }
}
