@import "variables";

.mainLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "column1 column2";
  column-gap: 64px;

  @media (max-width: $smBreakpoint) {
    grid-template-columns: auto;
    grid-template-areas: "header" "column2" "column1";
    column-gap: 0;
  }
}

.heading {
  grid-area: header;
  max-width: 750px;
}

.column1,
.column2 {
  max-width: 444px;
}

.column1 {
  grid-area: column1;
}

.column2 {
  grid-area: column2;
}

.formSectionText {
  padding-bottom: 8px;
}
