.streamingServicesList {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.streamingServicesListItem {
  text-transform: uppercase;
  padding: 4px 12px 4px 0;
}

.seeMoreButton {
  color: $black;
  text-decoration: underline;
  padding: 0;
  margin-top: 4px;

  &:hover {
    background: $graphite;
    color: $cream;
    text-decoration: none;
    transition: all 0.05s ease-in;
    border-radius: 2px;
  }
}
