.streamingServicesList {
  display: flex;
}

.streamingServicesListExpanded {
  display: flex;
  flex-direction: column;
}

.streamingServicesListExpanded > .streamingServicesListItem {
  margin-left: 0;
  padding-bottom: 8px;
}

.streamingServicesList > * + * {
  margin-left: 12px;
}

.streamingServicesListItem {
  text-transform: uppercase;
}

.seeMoreButton {
  color: #1d8cf2;
  text-decoration: underline;
}
