.streamingServicesList {
  display: flex;
  flex-wrap: wrap;
}

.streamingServicesListItem {
  text-transform: uppercase;
  padding: 4px 12px 4px 0;
}

.seeMoreButton {
  color: $blue;
  text-decoration: underline;
  padding: 4px 0;
}
