.containerSmall,
.containerLarge {
  & > iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }
}

.containerLarge {
  position: relative;
  width: 100%;
  max-width: 500px;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    padding-top: 127%;
  }

  & > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.containerMultipleSongs {
  &::before {
    padding-top: 135%;
  }
}
