.userForm > * + * {
  margin-top: 24px;
}

.userFormInputGroup {
  display: flex;
  flex-direction: column;
}

.userFormInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  min-height: 40px;
  resize: none;
  overflow: hidden;
}

.userFormInputError {
  border-bottom: 1px solid #ff0000b8;
}

.userFormInputErrorText {
  color: #ff0000b8;
  font-size: 12px;
  margin-top: 4px;
}

.userFormCheckbox {
  display: flex;
  align-items: center;
}

.userFormCheckboxIcon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.submitButton {
  display: flex;
  align-items: center;
  background: #000;
  color: #fff;
  border: none;
  padding: 0 24px;
  min-height: 40px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.submitButton:hover {
  opacity: 0.8;
}

.submitButton:disabled {
  background: #a0a0a0;
  pointer-events: none;
}

.submitButton:active {
  transform: scale(0.95);
}

.submitButton > svg {
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 2s linear infinite;
}
