.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapsed {
  max-height: 100px;
}

.expanded {
  max-height: 2000px;
}

.text {
  margin: 0;
}

.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttonLink {
  text-decoration: underline;
  color: $black;
  width: fit-content;

  &:hover {
    background: $graphite;
    color: $cream;
    text-decoration: none;
    transition: all 0.05s ease-in;
    border-radius: 2px;
  }
}
