.container {
  background: $black;
  font-size: 12px;
  color: $white;
  padding: 0 $spacing-xs 0 $spacing-m;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs;
  margin: 0 auto;

  @media (max-width: $sm-breakpoint) {
    padding: $spacing-s;
  }
}

.closeButton {
  display: flex;
  align-items: center;
}

.link {
  color: $white;
  text-decoration: underline;

  &:hover {
    color: $white;
    background: none;
  }
}
