.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list > * + * {
  margin-left: 12px !important;
}

.listItem {
  text-transform: uppercase;
}

.activeLocale {
  pointer-events: none;
  text-decoration: none;
}
