.navigationList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigationListItem {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: $spacing-xxs;

  @media (max-width: $md-breakpoint) {
    padding: $spacing-xs 0;
  }
}

.linkActive {
  pointer-events: none;
  text-decoration: none;
}

.activeLinkIcon {
  margin-right: $spacing-xxs;
}
