.navigationList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: $sm-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigationListItem {
  text-transform: uppercase;
  padding: $spacing-xxs;

  @media (max-width: $sm-breakpoint) {
    padding: 0;
    margin-right: 12px;
  }
}
